{
	email {{ gmail_address }}
	log {
		output file /var/log/caddy/default.access.log
	}

	acme_dns cloudflare {{ cloudflare_auth_token }}

	crowdsec {
		api_key {{ crowdsec_api_key }}
	}

	servers {
		trusted_proxies cloudflare
	}
}

import {{ caddy_linux_caddyfile_path }}/*.caddy
