{
    email {{ gmail_address }}
    log {
        output file /var/log/caddy/default.access.log
    }
}

overseerr.{{ domain_old }}, overseerr.{{ domain }} {
    log {
        output file /var/log/caddy/overseerr.access.log
    }

    reverse_proxy {{ infra_hosts.desktop }}:5055
}

plex.{{ domain_old }}, {{ domain }} {
    log {
        output file /var/log/caddy/plex.access.log
    }

    reverse_proxy {{ infra_hosts.plex }}:32400
}