proxmox.{{ default_domain }} {
    reverse_proxy https://{{ hosts.proxmox.ip }}:8006 {
        transport http {
                tls_insecure_skip_verify
        }
    }
}

gateway.{{ default_domain }} {
    reverse_proxy {{ hosts.gateway.ip }}
}

checkmk.{{ default_domain }} {
    reverse_proxy {{ hosts.checkmk.ip }}
}

plex.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:32400
}

jellyfin.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:8096
}

nzbget.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:6789
}

sabnzbd.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:8080
}

deluge.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:8112
}

prowlarr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:9696
}

radarr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:7878
}

sonarr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:8989
}

overseerr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:5055
}

bazarr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:6767
}

tautulli.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:8181
}

notifiarr.{{ default_domain }} {
    reverse_proxy {{ hosts.plex.ip }}:5454
}

nextcloud.{{ default_domain }} {
    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

    header {
        Strict-Transport-Security max-age=15552000;
    }

    reverse_proxy {{ hosts.nextcloud.ip }}:80
}

ghost.lounge.{{ default_domain }} {
    reverse_proxy {{ hosts.lounge.ip }}:2368
}

drone.lounge.{{ default_domain }} {
    reverse_proxy {{ hosts.lounge.ip }}:80
}


mtomo.lounge.{{ default_domain }} {
    reverse_proxy {{ hosts.lounge.ip }}:8080
}
